/* styles for all body-style all */
*{
    font-family: 'Open Sans', sans-serif; 
    
}
.btn-tap{
    border-radius: 5px;
    background: #FD6E0A;
    border:0;
    font-size: 20px;
    font-weight: 700;
    color:white;
    padding: 13px 35px;
   
}
.nav-title{
    color: #181818;

font-size: 45px;
font-weight: 800;
line-height: normal;
}

/* nav_style */
nav {
   display: flex;
   justify-content: space-between;
   margin:0px 200px;
}
.text-title{
    color: #FD6E0A;
    align-items: center;
}
nav  ul{
    display: flex;
    align-items: center;
}
nav li{
    list-style: none;
    margin-right: 51px;
    te
}
nav a{
    text-decoration: none;
    color: #474747;
 /* header related style */
}
.header{
    background: #FFF8F3;
    background-image: url("images/header_bg.png");
    background-repeat: no-repeat;
    background-position: bottom right;
    
}
.banar{
    padding:30px 30px 0px 150px;
    display: flex;
    align-items: center;
    justify-content: space-between;

}
.banar-picture .profile-pic{
    width: 500px;
    display: flex;
}
.tect-item{
    margin-bottom: 80px;
}
/* main section style */
/* about section */
.about{
    padding: 130px;
    border-radius:20px ;
    background: #FFF8F3;
    margin: 130px;
}
.section-title{
    color:  #181818);
text-align: center;

font-size: 35px;

font-weight: 700;

}
.section-text{
    color:#757575);
text-align: center;

font-size: 18px;

font-weight: 400;
line-height: 30px;

}
#wid{
    padding:30px 150px;
}
.skill-container{
    display:flex;
    gap: 25px;
    margin: 130px;
}
.skill{
    padding: 30px;
    border-radius: 15px solid rgb(16, 15, 15);
background: #FFF;
box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.06);

}
.skilldiscription{
    color:#757575 ;
}
main section{
    margin-top: 129px;
}
.resume-col-title{
    color: #474747);

font-size: 25px;
font-style: normal;
font-weight: 700;
line-height: normal;
}
.containerresume-{
    display: flex;
    gap:50px;
    margin: 130px;
}
.descrp , .resu-clg{
   color: #757575
}
.downloadcv{
    text-align: center;
    margin-top: 50px;
}
.text-des{
    text-align: center;
}
footer{
    display: flex;
    background-color: #FFF8F3;
    padding: 130px 200px;
    margin-top: 100px;
}